---
---
@import "minima";
/*Target EVERYTHING including the home page wrappers */
html, body,
.site-header,
.site-footer,
.page-content,
.wrapper,
.home {
  background-color:
    #000000 !important;
  color: #f0f0f0 !important;
}

/*Ensure the list of posts on 
the home page is readable */
.post-link, .post-meta {
  color: #E60000 !important;
}

/*Keep the titles and links Red */
a, h1, h2, h3, .site-title {
  color: #E6000 !important;
}

/*Make sure the breathing room 
title at the top is red */
.site-title, .site-title:visited {
  color: #E60000 !important;
}
